html,
body,
img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    }

::selection {
    background-color: var(--base-color);
    }

::-webkit-color-swatch{
    border: none;
    outline: none;
    }

:root{
    --base-color: 'red';
    }

a {
    text-decoration: none;
    color: black;
    }

::-webkit-scrollbar {
    width: 0;
    height: 5px;
    }

::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
    }

::-webkit-scrollbar-track {
    background-color: transparent;
    }

.category-btn:hover {
    background-color: var(--base-color) !important;
    color: white !important;
    }

.category-btn:hover span {
    color: white !important;
    }

.react-player {
    height: 77vh !important;
    width: 100% !important;
    }

.search-bar {
    border: none;
    outline: none;
    width: 350px;
    background-color: #444;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    }

.category-btn {
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    padding: 7px 15px;
    margin: 4px 0;
    border-radius: 20px;
    transition: all 0.3s ease;
    }

.copyright {
    text-align: center;
    pointer-events: none;
    }

@media screen and (max-width: 900px) {
    .category-btn {
        margin: 4px;
        }
    }

@media screen and (max-width: 800px) {
    .copyright {
        display: none !important;
        }
    }

@media screen and (max-width: 600px) {
    .scroll-horizontal {
        overflow: auto !important;
        }

    .react-player {
        height: 45vh !important;
        }

    .search-bar {
        width: 200px;
        }

    .category-sidebar {

        }

    .category-sidebar:hover .category-name {
        font-size: 12px
        }

    .video-card-container {

        }
    }

.image-lift {
    transition: 0.2s linear all;
    box-shadow: inset 0 0 0 5px transparent;
    background-position: center;
    }

.video-card:hover .image-lift {
    scale: 1.02;
    aspect-ratio: 16/9;
    box-shadow: inset -5px 1px 0 5px rgba(252, 21, 3, 0.37);
    }

.category-name {
    font-size: 0;
    opacity: 0;
    transition: 0.15s all linear;
    color: #fff;
    mix-blend-mode: difference;
    filter: grayscale(1);
    }

.category-icon {
    display: grid;
    place-content: center;
    mix-blend-mode: difference;
    }

 .category-btn:hover .category-icon{
    color: var(--base-color);
    mix-blend-mode: difference;
    }

.category-sidebar {
    width: min-content;
    transition: 0.2s all linear;
    z-index: 1;
    background-color: black;
    position: sticky;
    top: 78px;
    }

.category-sidebar:hover {
    width: auto;
    }

.category-sidebar:hover .category-icon {
    margin-right: 10px;
    }

.category-sidebar:hover .category-name {
    font-size: 14px;
    opacity: 1;
    transition: 0.25s all linear;
    }

.gradient-text {
    background-color: orangered;
    background-image: -webkit-linear-gradient(45deg, violet, var(--base-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.fade-enter {
    opacity: 0;
    }
.fade-enter-active {
    opacity: 1;
    transition: all 150ms ease-in-out;
    }
.fade-exit {
    opacity: 1;
    }
.fade-exit-active {
    opacity: 0;
    transition: all 150ms ease-in-out;
    }

.active-category{
    background-color: var(--base-color);
    filter: brightness(0.9);
    }

.form-container .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: var(--base-color) !important;
    }

.form-container .MuiFormHelperText-contained{
    color: var(--base-color) !important;
    }
.MuiPaper-root{
    background-image: none !important;
    }
.breadcrumb{

    }
